@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Contact Management System</h1>
    <p class="lead">Easily manage your contacts all in one place.</p>
</div>

@if (Model.Count == 0)
{
    <div class="alert alert-secondary mt-5" role="alert">
        <h4 class="text-center alert-heading">No data available</h4>
        <p class="text-center">Please add new contacts to view them here.</p>
    </div>
}
else
{
    <div class="table-responsive mt-5">
        <table class="table table-hover shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model)
                {
                    <tr>
                        <td>@contact.Id</td>
                        <td>@contact.Name</td>
                        <td>@contact.Address</td>
                        <td>@contact.PhoneNumber</td>
                        <td><a asp-action="Edit" asp-route-id="@contact.Id" class="text-primary"><i class="far fa-edit"></i></a></td>
                        <td><a asp-action="Delete" asp-route-id="@contact.Id" class="text-danger"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="text-center mt-4">
    <a asp-area="" asp-controller="Home" asp-action="Create" class="btn btn-primary">+ Add Contact</a>
</div>
